---
http_interactions:
- request:
    method: post
    uri: https://demo.moneta.ru/services
    body:
      encoding: UTF-8
      string: '{"Envelope":{"Header":{"Security":{"UsernameToken":{"Username":"<USERNAME>","Password":"<PASSWORD>"}}},"Body":{"FindAccountByIdRequest":{"value":-1}}}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Envelope":{"Body":{"fault":{"detail":{"faultDetail":"200","ValidationError":["cvc-minInclusive-valid:
        Value ''-1'' is not facet-valid with respect to minInclusive ''1'' for type
        ''AccountId''.","cvc-complex-type.2.2: Element ''ns1:FindAccountByIdRequest''
        must have no element [children], and the value must be valid."]},"faultcode":"Client","faultstring":"Validation
        error"}}}}'
  recorded_at: Tue, 14 Feb 2017 14:07:16 GMT
recorded_with: VCR 3.0.1
