---
http_interactions:
- request:
    method: post
    uri: https://demo.moneta.ru/services
    body:
      encoding: UTF-8
      string: '{"Envelope":{"Header":{"Security":{"UsernameToken":{"Username":"<USERNAME>","Password":"<PASSWORD>"}}},"Body":{"FindAccountByIdRequest":{"value":10999}}}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Envelope":{"Body":{"FindAccountByIdResponse":{"account":{"id":10999,"status":1,"attribute":[],"type":2,"currency":"RUB"}}}}}'
  recorded_at: Tue, 14 Feb 2017 14:04:42 GMT
recorded_with: VCR 3.0.1
