---
http_interactions:
- request:
    method: post
    uri: https://demo.moneta.ru/services
    body:
      encoding: UTF-8
      string: '{"Envelope":{"Header":{"Security":{"UsernameToken":{"Username":"<USERNAME>","Password":"<PASSWORD>"}}},"Body":{"TransferBatchRequest":{"transactional":false,"exitOnFailure":true,"transaction":[{"payer":10999,"payee":28988504,"amount":10,"isPayerAmount":false,"paymentPassword":"12345"}]}}}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Envelope":{"Body":{"TransferBatchResponse":{"transaction":[{"transaction":{"transaction":416491,"dateTime":"2017-02-14T18:40:48.000+03:00","status":"SUCCEED"}}]}}}}'
  recorded_at: Tue, 14 Feb 2017 15:40:47 GMT
recorded_with: VCR 3.0.1
