---
http_interactions:
- request:
    method: post
    uri: https://demo.moneta.ru/services
    body:
      encoding: UTF-8
      string: '{"Envelope":{"Header":{"Security":{"UsernameToken":{"Username":"<USERNAME>","Password":"<PASSWORD>"}}},"Body":{"ApprovePhoneSendConfirmationRequest":{"unitId":42868,"text":"Ваш
        код для подтверждения {CODE}"}}}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Envelope":{"Body":{"ApprovePhoneSendConfirmationResponse":{"phoneNumber":"79520348677"}}}}'
  recorded_at: Tue, 14 Feb 2017 15:10:22 GMT
recorded_with: VCR 3.0.1
