---
http_interactions:
- request:
    method: post
    uri: https://demo.moneta.ru/services
    body:
      encoding: UTF-8
      string: '{"Envelope":{"Header":{"Security":{"UsernameToken":{"Username":"<USERNAME>","Password":"<PASSWORD>"}}},"Body":{"AuthoriseTransactionRequest":{"payer":10999,"payee":28988504,"amount":10,"isPayerAmount":false,"paymentPassword":"12345"}}}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Envelope":{"Body":{"AuthoriseTransactionResponse":{"id":416489,"attribute":[{"value":"BUSINESS","key":"category"},{"value":"RUB","key":"sourcecurrencycode"},{"value":"10","key":"sourceamount"},{"value":"10","key":"typeid"},{"value":"-10","key":"targetamount"},{"value":"23712","key":"protectioncode"},{"value":"RUB","key":"targetcurrencycode"},{"value":"TAKENOUT","key":"statusid"},{"value":"10","key":"sourceamounttotal"},{"value":"2017-02-14T18:40:25.000+03:00","key":"modified"},{"value":"10999","key":"targetaccountid"},{"value":"2017-02-15T18:40:25.000+03:00","key":"protectioncodeexpirationdate"},{"value":"28988504","key":"sourceaccountid"},{"value":"true","key":"isreversed"}]}}}}'
  recorded_at: Tue, 14 Feb 2017 15:40:24 GMT
recorded_with: VCR 3.0.1
