---
http_interactions:
- request:
    method: post
    uri: https://demo.moneta.ru/services
    body:
      encoding: UTF-8
      string: '{"Envelope":{"Header":{"Security":{"UsernameToken":{"Username":"<USERNAME>","Password":"<PASSWORD>"}}},"Body":{"CreateBankAccountRequest":{"attribute":[{"key":"BIK","value":"044525225"},{"key":"ACCOUNT","value":"30301810000006000001"}]}}}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Envelope":{"Body":{"CreateBankAccountResponse":{"id":1532}}}}'
  recorded_at: Tue, 14 Feb 2017 15:40:29 GMT
recorded_with: VCR 3.0.1
